* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("img/darkgreen2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f3325;
  color: white;
}
.logo-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}
.navbar-links li:hover {
  background-color: #2d6e54;
}
.toggle-nav {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-nav .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.container {
  font-size: 20px;
  margin: auto;
  margin-top: 15px;
  background-color: white;
  width: 60%;
  padding-top: 25px;
}
.container li {
  padding: 15px;
}
p {
  padding: 15px;
}
h3 {
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
footer {
  background-color: #0f3325;
  color: white;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}
.social-media {
  margin: 15px;
}
.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-google {
  background: #db4437;
  color: white;
}
.fa-pinterest {
  background: #e60023;
  color: white;
}
/* small phone screen */
@media (max-width: 335px) {
  .toggle-nav {
    display: inline;
  }
  .navbar-links {
    display: inline;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .logo-title {
    text-align: center;
  }
  .container {
    font-size: 18px;
    margin: 0;
    margin-top: 15px;
    width: 100%;
  }
  h3 {
    padding-top: 0;
  }
  footer {
    padding-left: 25px;
  }
}
/* Some Phones, Tablets, iPads */
@media (min-width: 336px) and (max-width: 700px) {
  .toggle-nav {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .container {
    font-size: 20px;
    margin: 0;
    margin-top: 15px;
    background-color: white;
    width: 100%;
    padding-top: 25px;
  }
  footer {
    padding-left: 25px;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}
/*Tablets Ipads portrait mode */
@media (min-width: 700px) and (max-width: 1024px) {
  .container {
    width: 80%;
  }
  footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}
/* Desktop Screen */
@media (min-width: 1025px) {
  .container {
    width: 80%;
  }
  footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}
