* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("img/darkgreen2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f3325;
  color: white;
}
.logo-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}
.navbar-links li:hover {
  background-color: #2d6e54;
}
.toggle-nav {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-nav .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  list-style: none;
  padding: 0 5%;
  grid-template-areas:
    "cut1 cut2 cut3 cut4"
    "style1 style2 style3 style4"
    "dye1 dye2 dye3 dye4"
    "spa1 spa2 spa3 spa4";
  gap: 5px;
  place-items: center;
}
img {
  max-width: 100%;
  height: auto;
  border: #0f3325 solid;
}
h3 {
  text-align: center;
  color: white;
  font-size: 25px;
}
.cut1 {
  grid-area: cut1;
}
.cut2 {
  grid-area: cut2;
}
.cut3 {
  grid-area: cut3;
}
.cut4 {
  grid-area: cut4;
}
.style1 {
  grid-area: style1;
}
.style2 {
  grid-area: style2;
}
.style3 {
  grid-area: style3;
}
.style4 {
  grid-area: style4;
}
.dye1 {
  grid-area: dye1;
}
.dye2 {
  grid-area: dye2;
}
.dye3 {
  grid-area: dye3;
}
.dye4 {
  grid-area: dye4;
}
.spa1 {
  grid-area: spa1;
}
.spa2 {
  grid-area: spa2;
}
.spa3 {
  grid-area: spa3;
}
.spa4 {
  grid-area: spa4;
}
footer {
  background-color: #0f3325;
  color: white;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}
.social-media {
  margin: 15px;
}
.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-google {
  background: #db4437;
  color: white;
}
.fa-pinterest {
  background: #e60023;
  color: white;
}
@media (max-width: 700px) {
  .toggle-nav {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}
