* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252a;
  color: white;
}
.logo-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}
.navbar-links li:hover {
  background-color: #555;
}
.toggle-nav {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-nav .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.container {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 10% auto auto 10%;
  grid-template-rows: auto;
  grid-template-areas:
    "... art1 art1 ..."
    "... art2 art2 ..."
    "... art3 art4 ..."
    "... art3 art4 ..."
    "... art3 art5 ..."
    "footer footer footer footer";
  grid-gap: 1em;
}
.article1 {
  background-color: red;
  grid-area: art1;
}
.article2 {
  background-color: blue;
  grid-area: art2;
  display: flex;
}
.article3 {
  background-color: yellow;
  grid-area: art3;
}
.article4 {
  background-color: green;
  grid-area: art4;
}
.article5 {
  background-color: purple;
  grid-area: art5;
}
footer {
  background-color: orange;
  grid-area: footer;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-google {
  background: #db4437;
  color: white;
}
.fa-pinterest {
  background: #e60023;
  color: white;
}
@media (max-width: 700px) {
  .toggle-nav {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    width: 100%;
    gap: 0.5em;
    max-height: fit-content;
    grid-template-areas:
      "art1"
      "art2"
      "art3"
      "art4"
      "art5"
      "footer";
  }
}
