* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f3325;
  color: white;
}
.logo-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}
.navbar-links li:hover {
  background-color: #555;
}
.toggle-nav {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-nav .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.container {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  grid-template-areas:
    "... art1 art1 ..."
    "... art2 art2 ..."
    "... art3 art4 ..."
    "footer footer footer footer";
  grid-gap: 1em;
}
.article1 {
  background-color: red;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  border: #24252a solid;
  margin: auto;
  width: 100%;
  /* height: 400px; */
  grid-template-areas: "model slogan";
  align-items: center;
  justify-content: center;
  grid-area: art1;
  margin-top: 15px;
  flex-wrap: wrap;
  max-height: 400px;
}
.model1 {
  grid-area: model;
}
.slogan {
  grid-area: slogan;
}
.article1 img {
  object-fit: cover;
  width: 100%;
  max-height: 395px;
  margin-top: 3px;
}
.article1 h1 {
  font-size: 30px;
  margin: 0;
  text-align: center;
}
.article2 {
  background-color: blue;
  grid-area: art2;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0;
  justify-content: space-around;
}
.article2 img {
  width: 100%;
  flex-shrink: 0;
  border: #24252a solid;
}
.article2 li {
  padding: 0.5em;
}
.article3 {
  background-color: yellow;
  grid-area: art3;
  display: block;
  text-align: center;
  border: #24252a solid;
}
.article3 h2 {
  background-color: #24252a;
  color: white;
}
.article3 img {
  height: 150px;
  width: 100px;
  float: left;
}
.article4 {
  grid-area: art4;
  display: flex;
  flex-direction: column;
}
.hairstyle {
  background-color: green;
  margin-bottom: 1em;
  border: #24252a solid;
}
.advertisement {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  background-color: purple;
  height: 250px;
  border: #24252a solid;
  grid-template-areas: "advert adcontent";
}
.advertisement img {
  grid-area: advert;
  height: 245px;
  width: 100%;
  object-fit: fill;
}
.advertise-content {
  grid-area: adcontent;
}
footer {
  background-color: #0f3325;
  color: white;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}
.social-media {
  margin: 15px;
}
.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-google {
  background: #db4437;
  color: white;
}
.fa-pinterest {
  background: #e60023;
  color: white;
}
@media (max-width: 700px) {
  .toggle-nav {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    width: 100%;
    gap: 0.5em;
    max-height: fit-content;
    grid-template-areas:
      "art1"
      "art2"
      "art3"
      "art4"
      "footer";
  }
  .article1 {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    width: 100%;
    gap: 0.5em;
    max-height: fit-content;
    grid-template-areas:
      "model"
      "slogan";
    margin-bottom: 75px;
  }
  .article1 img {
    height: 395px;
    width: 100%;
    flex-shrink: 0;
  }
  .article2 {
    flex-direction: column;
  }
}
