@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  box-sizing: border-box;

  background-color: #24252a;
  color: white;
}
header {
  justify-content: space-between;
  align-items: center;
}
nav {
  background-color: #ca82ff;
  height: 150px;
}
.navbar-links {
  list-style-type: none;
}
.navbar-links ul li {
  display: inline-block;
  padding-top: 90px;
}

.navbar-links li a {
  background: url(img/logo.jpg) repeat-x top left;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  line-height: 15px;
  padding: 10px;
  margin: 15px;
  font-weight: 500;
  font-size: 16px;
}
.navbar-links a {
  float: left;
  /* padding: ; */
}
.navbar .logo {
  float: left;
  margin: 0;
  padding: 0;
}
.hairlogo {
  height: 130px;
  width: 270px;
  cursor: pointer;
  float: left;
  padding-left: 150px;
  padding-top: 40px;
}
.article1 {
  display: flex;
  height: 350px;
  border: #ca82ff solid;
  margin: 50px auto;
}
.article1 h1 {
  font-size: 50px;
  margin: 0;
  line-height: 50px;
  padding: 100px 30px 30px;
}

/* Footer Section */
footer {
  background: #ca82ff;
  margin: 0;
  padding: 0;
}
.footer1 {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 0 28px;
  width: 100%;
}
.footer1 p {
  display: inline-block;
  float: left;
  text-align: center;
}
.social-media {
  display: block;
  text-align: center;
  background: #461a66;
  /* float: right; */
  height: 50px;
  /* margin: 0 20px 0 150px;
  padding: 22px 20px; */
  overflow: hidden;
  width: 300px;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-google {
  background: #db4437;
  color: white;
}
.fa-pinterest {
  background: #e60023;
  color: white;
}
