* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-image: url("img/darkgreen2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f3325;
  color: white;
}
.logo-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}
.navbar-links li:hover {
  background-color: #2d6e54;
}
.toggle-nav {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-nav .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.container {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "art1 art1"
    "art2 art2"
    "art3 art4";
  grid-gap: 1em;
  padding: 0 15%;
  margin-bottom: 15px;
}
.article1 {
  background-image: url("img/backgroundflowers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  border: #0f3325 solid;
  grid-template-areas: "model slogan";
  align-items: center;
  justify-content: center;
  grid-area: art1;
  margin-top: 10px;
}
.model1 {
  grid-area: model;
}
.slogan {
  grid-area: slogan;
}
h1 {
  background-color: #0f3325;
  color: white;
}
.article1 img {
  max-width: 100%;
  height: auto;
}
.article1 h1 {
  font-size: 30px;
  margin: 0;
  text-align: center;
}
.article2 {
  grid-area: art2;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0;
  justify-content: space-around;
  margin: 0 -5px;
  margin-bottom: 25px;
}
.article2 img {
  width: 100%;
  height: auto;
  border-bottom: #0f3325 solid;
}
.article2 div {
  margin: 0 5px;
  border: #0f3325 solid;
  background-color: white;
}
.article2 p {
  margin: 5px;
  padding: 0 5px 15px;
}
.article2 li {
  padding: 0.5em;
}
.article3 {
  grid-area: art3;
  border: #0f3325 solid;
  background-color: white;
  padding: 15px;
}
.article3 h2 {
  background-color: #24252a;
  color: white;
  height: 50px;
  width: 170px;
  font-size: 25px;
  padding-top: 12px;
  margin-left: 30px;
  text-align: center;
  margin-top: -30px;
}
.article3 h3 {
  text-align: center;
}
.article3 img {
  float: left;
  margin-right: 20px;
}
.featured {
  align-items: center;
  justify-content: center;
}
.article4 {
  grid-area: art4;
  display: flex;
  flex-direction: column;
}
.article4 p {
  margin: 15px;
}
.article4 a {
  margin: 15px;
  float: right;
  text-decoration: none;
  color: black;
}
.hairstyle h3 {
  background-color: #24252a;
  color: white;
  height: 50px;
  width: 170px;
  font-size: 25px;
  padding-top: 12px;
  margin-left: 30px;
  text-align: center;
  margin-top: -15px;
}
.hairstyle {
  margin-bottom: 1em;
  border: #0f3325 solid;
  background-color: white;
}
.advertisement {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  border: #0f3325 solid;
  grid-template-areas: "advert adcontent";
  background-color: white;
}
.advertisement img {
  width: 100%;
  height: auto;
}
.advertise-content {
  grid-area: adcontent;
  text-align: center;
  margin: auto;
}
footer {
  background-color: #0f3325;
  color: white;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.social-media {
  margin: 15px;
}
.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-google {
  background: #db4437;
  color: white;
}
.fa-pinterest {
  background: #e60023;
  color: white;
}
/* smallest phone screen */
@media (max-width: 335px) {
  .toggle-nav {
    display: inline;
  }
  .navbar-links {
    display: inline;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .logo-title {
    text-align: center;
  }
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    width: 100%;
    gap: 0.5em;
    max-height: fit-content;
    grid-template-areas:
      "art1"
      "art2"
      "art3"
      "art4"
      "footer";
    padding: 0;
  }
  .article1 {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    width: 100%;
    gap: 0.5em;
    max-height: fit-content;
    grid-template-areas:
      "model"
      "slogan";
  }
  .article1 img {
    margin: 0;
  }
  h1 {
    margin: 0;
  }
  .article2 {
    flex-direction: column;
  }
  .hairstyle {
    margin-top: 25px;
  }
  .article3 {
    display: block;
    justify-content: center;
  }
  .featured {
    margin: auto;
  }
  .article3 img {
    float: none;
  }
  footer {
    padding-left: 25px;
  }
}
/* Most Phones, Tablets, Ipads */
@media (min-width: 336px) and (max-width: 700px) {
  .toggle-nav {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    width: 100%;
    gap: 0.5em;
    max-height: fit-content;
    grid-template-areas:
      "art1"
      "art2"
      "art3"
      "art4"
      "footer";
    padding: 0;
  }
  .article1 {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    width: 100%;
    gap: 0.5em;
    max-height: fit-content;
    grid-template-areas:
      "model"
      "slogan";
  }
  .article1 img {
    margin: 0;
  }
  h1 {
    margin: 0;
  }
  .article2 {
    flex-direction: column;
  }
  .hairstyle {
    margin-top: 25px;
  }
  .article3 {
    display: block;
    justify-content: center;
  }
  .featured {
    margin: auto;
  }
  .article3 img {
    float: none;
  }
  footer {
    padding-left: 25px;
  }
}

/*Tablets & iPads portrait mode */
@media (min-width: 701px) and (max-width: 1024px) {
  .article2 {
    flex-direction: column;
    margin: 0 65px;
  }
}
